.btn-primary {
    color: #fff;
    background-color:   #d48f27 !important;
    border-color:  #d48f27 !important;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}
.title{
    /* display: inline-flex; */
    /* border-radius: 20px; */
    text-align: justify;
    color: black;
    font-family: sans-serif;
    font-style: inherit;
    padding-left:30px;
     padding-right:20px; 
     margin-left:10px; 
     /* margin-right:20px;  */
     /* text-align: justify; */
     color: #e4951f;
     /* border: 1px solid black; */
     letter-Spacing:4px;
     font-size: 32px;
     font-weight: bold;
}

.custom-select{
    /* color: blue; */
    background-color:  #f1c178;
    /* border-color:  rgb(122, 120, 241); */
    
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

